.DS_Store
__pycache__/*
.Rhistory
.RData
*swp
*fna
*fna.gz
*fastq
*fastq.gz
*fq
*fastq.gz
*csv
*tif

analysis/
!analysis/README.md
!analysis/*/*/*.sh
!analysis/*/*/*/*.sh
!analysis/*/*/*/*/*.sh
!analysis/*/*/*/*/*/*.sh
!analysis/*/*/*/*/*/*/*.sh
!analysis/*/*/*.log
!analysis/*/*/*/*.log
!analysis/*/*/*/*/*.log
!analysis/*/*/*/*/*/*.log
!analysis/*/*/*/*/*/*/*.log

code/scripts/__pycache__/
code/scripts/count_read_duplicates.py

raw_data/
!raw_data/adapters

