.DS_Store
__pycache__/*
.Rhistory
.RData
*swp
*fna
*fna.gz
*fastq
*fastq.gz
*fq
*fastq.gz

analysis/
!*.sh
!*.log

code/kraken2
code/Bracken/
code/salmon-1.5.2_linux_x86_64/
code/scripts/__pycache__/
code/scripts/count_read_duplicates.py

preliminary_analyses.tar.gz

raw_data/
!raw_data/adapters
